<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <a href="/restaurants/new">Add a Restaurant</a>
    <a href="/users/new">Add a User</a>
    <a href="/restaurants">See all Restaurants</a>
    <ul>
        <%@users.each do |user|%>
            <p><a href="/users/<%=user.id%>"> <%=user.name%><br></p>
        <%end%>
    </ul>
</body>
</html>
