<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <a href="/restaurants/new">Add a Restaurant</a>
    <a href="/restaurants">See all Restaurants</a>
    <a href="/users">See all Users</a>
    <h1>Add a User</h1>
    <form action="/users" method="POST">
        <p>Name:<input type="text" name="name"></p>
        <p><button type="submit">submit</button></p>
    </form>
</body>
</html>
