<!-- <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <a href="/restaurants/new">Add a Restaurant</a>
    <a href="/users/new">Add a User</a>
    <a href="/restaurants">See all Restaurants</a>
    <a href="/users">See all Users</a>
    <ul>
    <%@restaurants.each do |restaurant|%>
      <p><a href="/restaurants/<%=restaurant.id%>"> <%= restaurant.name %></a></p>
    <%end%>
    </ul>
  </body>
</html> -->

<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <a href="/restaurants/new">Add a Restaurant</a>
    <a href="/users/new">Add a User</a>
    <a href="/users">See all Users</a>
    <ul>
        <%@restaurants.each do |restaurant|%>
            <p><a href="/restaurants/<%=restaurant.id%>"> <%=restaurant.name%><br></p>
        <%end%>
    </ul>
</body>
</html>
